<link rel="stylesheet" type="text/css" href="/Content/mysitecss/about.css">
<link rel="stylesheet" type="text/css" href="/Content/mysitecss/about_responsive.css">


<div class="home" style="margin-top:150px">
@* 	<!-- Background image artist https://unsplash.com/@thepootphotographer --> *@
	<div class="home_background parallax_background parallax-window" data-parallax="scroll" data-image-src="/Content/images/about.jpg" data-speed="0.8"></div>
	<div class="home_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content text-center">
						<div class="home_title">About us</div>
						<div class="breadcrumbs">
							<ul>
								<li><a asp-controller="Userdashboard" asp-action="Index">Home</a></li>
								<li>About us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- About -->

<div class="about">
	<div class="container">
		<div class="row about_row row-lg-eq-height">
			<div class="col-lg-6">
				<div class="about_content">
					<div class="about_title">Our Platform's main goal</div>
					<div class="about_text">
						<p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam. Nullam bibendum interdum dui, ac tempor lorem convallis ut. Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus tempus pulvinar. Praesent vel nisl fermentum, gravida augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id convallis libero, sed blandit nibh. Nam ultricies tristique nibh, consequat ornare nibh. Quisque vitae odio ligula.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about_image"><img src="/Content/images/about_1.jpg"></div>
			</div>
		</div>
		<div class="row about_row row-lg-eq-height">
			<div class="col-lg-6 order-lg-1 order-2">
				<div class="about_image"><img src="/Content/images/elearn.jpg" alt=""></div>
			</div>
			<div class="col-lg-6 order-lg-2 order-1">
				<div class="about_content">
					<div class="about_title">eLearn's Vision</div>
					<div class="about_text">
						<p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam. Nullam bibendum interdum dui, ac tempor lorem convallis ut. Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus tempus pulvinar. Praesent vel nisl fermentum, gravida augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id convallis libero, sed blandit nibh. Nam ultricies tristique nibh.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>







<!-- Teachers -->

<div class="teachers">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="teachers_title text-center">Meet the Teachers</div>
			</div>
		</div>
		<div class="row teachers_row">

			<!-- Teacher -->
			<div class="col-lg-4 col-md-6">
				<div class="teacher">
					<div class="teacher_image"><img src="/Content/images/teacher_1.jpg"></div>
					<div class="teacher_body text-center">
						<div class="teacher_title"><a href="#">Jonathan Smith</a></div>
						<div class="teacher_subtitle">Marketing</div>
						<div class="teacher_social">
							<ul>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Teacher -->
			<div class="col-lg-4 col-md-6">
				<div class="teacher">
					<div class="teacher_image"><img src="/Content/images/teacher_2.jpg"></div>
					<div class="teacher_body text-center">
						<div class="teacher_title"><a href="#">Michelle Williams</a></div>
						<div class="teacher_subtitle">Art & Design</div>
						<div class="teacher_social">
							<ul>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Teacher -->
			<div class="col-lg-4 col-md-6">
				<div class="teacher">
					<div class="teacher_image"><img src="/Content/images/teacher_3.jpg"></div>
					<div class="teacher_body text-center">
						<div class="teacher_title"><a href="#">Jack Gallagan</a></div>
						<div class="teacher_subtitle">Marketing</div>
						<div class="teacher_social">
							<ul>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Teacher -->
			<div class="col-lg-4 col-md-6">
				<div class="teacher">
					<div class="teacher_image"><img src="/Content/images/teacher_4.jpg"></div>
					<div class="teacher_body text-center">
						<div class="teacher_title"><a href="#">Christinne Smith</a></div>
						<div class="teacher_subtitle">Marketing</div>
						<div class="teacher_social">
							<ul>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Teacher -->
			<div class="col-lg-4 col-md-6">
				<div class="teacher">
					<div class="teacher_image"><img src="/Content/images/teacher_5.jpg"></div>
					<div class="teacher_body text-center">
						<div class="teacher_title"><a href="#">Michelle Williams</a></div>
						<div class="teacher_subtitle">Art & Design</div>
						<div class="teacher_social">
							<ul>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Teacher -->
			<div class="col-lg-4 col-md-6">
				<div class="teacher">
					<div class="teacher_image"><img src="/Content/images/teacher_6.jpg"></div>
					<div class="teacher_body text-center">
						<div class="teacher_title"><a href="#">Jack Gallagan</a></div>
						<div class="teacher_subtitle">Marketing</div>
						<div class="teacher_social">
							<ul>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>