


<div style="margin-top: 150px;"></div>
<nav class="navbar">
    <div class="form-inline mx-auto mt-3">
        <input type="text" class="form-control mr-sm-2" placeholder="Search" />
        <button class="btn btn-outline-warning my-2 my-sm-0" type="button">Search</button>
    </div>
</nav>
<div class="container py-5">
    <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
            <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 mb-4 mb-lg-0">
                            <img src="~/Content/Images/course_6.jpg" class="img-fluid rounded" />
                        </div>
                        <div class="col-md-6">
                            <h5>Course Name</h5>
                            <p class="text-muted small">SubCourse Name</p>
                            <p class="text-muted small">Topic Name</p>
                            <p class="text-truncate">E-learning courses offer flexible, accessible education through online platforms, covering a wide range of subjects.</p>
                        </div>
                        <div class="col-md-3 text-end">
                            <h4>₹Price</h4>
                            <span class="text-danger"><s>₹1000.99</s></span>
                            <h6 class="text-success">Special Offer</h6>
                            <button class="btn btn-warning btn-sm mt-2" type="button">Details</button>
                            <button class="btn btn-outline-danger btn-sm mt-2" type="button">Add to wishlist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
