@model List<SubcourseVideo>

<link href="~/css/site.css" rel="stylesheet" />
<div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <!-- Video Title List -->
        <div class="col-md-3 course-list">
            <h2 class="mb-4">Video Titles</h2>
            <ul class="list-group" id="videoList">
                @if (Model.Any())
                {
                    foreach (var course in Model)
                    {
                        <li class="list-group-item">
                            <a href="#" class="video-title" data-url="@course.Url">@course.Title</a>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">No courses available.</li>
                }
            </ul>
        </div>

        <!-- Video Details -->
        <div class="col-md-8 course-details">
            <div id="videoContainer">
                <h3>Select a video to view details</h3>
                <iframe width="900" height="500"
                        id="playvideo"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            <span id="noVideosMessage" class="no-videos-message">No videos available</span>
        </div>
    </div>
</div>

<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active"
           id="ex1-tab-1"
           data-bs-toggle="tab"
           href="#ex1-tabs-1"
           role="tab"
           aria-controls="ex1-tabs-1"
           aria-selected="true">Course Feedback</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link"
           id="ex1-tab-2"
           data-bs-toggle="tab"
           href="#ex1-tabs-2"
           role="tab"
           aria-controls="ex1-tabs-2"
           aria-selected="false">Tab 2</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link"
           id="ex1-tab-3"
           data-bs-toggle="tab"
           href="#ex1-tabs-3"
           role="tab"
           aria-controls="ex1-tabs-3"
           aria-selected="false">Tab 3</a>
    </li>
</ul>
<!-- Tabs navs -->
<!-- Tabs content -->
<div class="tab-content" id="ex1-content">
    <div class="tab-pane fade show active"
         id="ex1-tabs-1"
         role="tabpanel"
         aria-labelledby="ex1-tab-1">


        <main class="cd__main">
            <!-- Start DEMO HTML (Use the following code into your project)-->
            <div class="wrapper">
                <div class="title">Rate your experience</div>
                <div class="content">We highly value your feedback! Kindly take a moment to rate your experience and provide us with your valuable feedback.</div>
                <div class="rate-box">
                    <input type="radio" name="star" id="star0" />
                    <label class="star" for="star0"></label>
                    <input type="radio" name="star" id="star1" />
                    <label class="star" for="star1"></label>
                    <input type="radio" name="star" id="star2" checked="checked" />
                    <label class="star" for="star2"></label>
                    <input type="radio" name="star" id="star3" />
                    <label class="star" for="star3"></label>
                    <input type="radio" name="star" id="star4" />
                    <label class="star" for="star4"></label>
                </div>
                <textarea cols="30" rows="6" placeholder="Tell us about your experience!"></textarea>
                <div class=" btn submit-btn">Send</div>
            </div>
            <!-- END EDMO HTML (Happy Coding!)-->
        </main>
       
    </div>
    <div class="tab-pane fade"
         id="ex1-tabs-2"
         role="tabpanel"
         aria-labelledby="ex1-tab-2">
        Tab 2 content
    </div>
    <div class="tab-pane fade"
         id="ex1-tabs-3"
         role="tabpanel"
         aria-labelledby="ex1-tab-3">
        Tab 3 content
    </div>
</div>
<!-- Tabs content -->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js"></script>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        function extractVideoId(url) {
            const urlParams = new URLSearchParams(new URL(url).search);
            return urlParams.get('v');
        }

        function extractPlaylistId(url) {
            const urlParams = new URLSearchParams(new URL(url).search);
            return urlParams.get('list');
        }

        function loadVideo(videoId) {
            const iframe = document.getElementById('playvideo');
            iframe.src = `https://www.youtube.com/embed/${videoId}`;
            document.getElementById('noVideosMessage').style.display = 'none';
        }

        // Event listener for video title clicks
        document.getElementById('videoList').addEventListener('click', function (event) {
            if (event.target.classList.contains('video-title')) {
                event.preventDefault();
                const videoUrl = event.target.getAttribute('data-url');
                const videoId = extractVideoId(videoUrl);
                if (videoId) {
                    loadVideo(videoId);
                } else {
                    console.error('Video ID not found in the URL');
                }
            }
        });
    });


</script>

